<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.test.Atomation.UIAutomation.customListener.RetryListner"></listener>
		<!-- <listener class-name="com.test.Atomation.UIAutomation.customListener.ListnerDemo"></listener> -->
	</listeners>

	<test name="HomepageTest">

		<classes>

		<!-- 	<class name="com.test.Atomation.UIAutomation.homePage.TC002_CreateAnAccount"></class> -->
		</classes>

	</test>
	
		<test name="ProducDetailsTest">

		<classes>
			<!-- <class name="com.test.Atomation.UIAutomation.productDetails.TC002_Products" />-->
		</classes> 


	</test> <!-- Test -->


	<test name="AddToCartTest">

		<classes>
			<class
				name="com.test.Atomation.UIAutomation.addToCart.TC001_FacebookLinkVerification"></class>
		</classes>

	</test>

</suite> <!-- Suite -->
